 /*css reset*/
 body {
    font-family: 'Architects Daughter', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('../Img/bg.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    background-color: #cccccc;

}

.left {
    position: absolute;
    left: 34px;
    top: 18px;
    display: inline-block;
    /*border: 2px solid red;*/
}

.left img {
    width: 136px;
    filter: invert(100%);
}

.left div {
    line-height: 20px;
    font-size: 20px;
    text-align: center;
}

.mid {
    display: block;
    width: 50%;
    margin: 18px auto;
    /*border: 2px solid green*/
}

.right {
    position: absolute;
    right: 34px;
    top: 18px;
    display: inline-block;
    /*border: 2px solid blue*/
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
    font-size: 20px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    font-family: 'Architects Daughter', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(65, 65, 65);
}

.container {
    /*border: 2px solid yellow;*/
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 10px;
}

.form-group input {
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 5px auto;
    font-size: 20px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 200px;
    margin: auto;
}